# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# IDE
.vscode/
.idea/
*.swp
*.swo
*.dockerfile

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
